/* .carousel-item{
    height:100vh;
    min-width:300px;

}
.carousel-caption{
bottom:220px;
}
.carousel-caption h5{
    font-size:60px;
    text-transform: uppercase;
    letter-spacing:2px;
    margin-top:30px;
    font-weight: 900;
}
.carousel-caption p{
    font-size:20px;
    margin:auto;
width: 60%;
line-height: 1.8;
}
.carousel-caption button{
    text-transform: uppercase;
    background-color:    #9dbb3b;
    padding:10px 30px;
  
    color: #fff;
    margin-top: 15px;

    font-weight: bold;
display: inline-block;
}
.banner-btn {
    border-color:#b3da2d ;
}

  } */


  .carousel-caption h5{
    font-size:60px;
    text-transform: uppercase;
    letter-spacing:2px;
    margin-top:30px;
    font-weight: 900;
}

@media only screen and (max-width: 768px) {
    .carousel-caption h5{
        font-size:30px;
        text-transform: uppercase;
        letter-spacing:1px;
        margin-top:10px;
        font-weight: 500;
    }
    }